@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.animate-pulse {
  animation: blink 0.9s step-end infinite;
}

.lottie-tint {
  filter: brightness(0.0) contrast(0.0) saturate(0.0) hue-rotate(195deg) drop-shadow(0 0 8px rgb(11, 107, 224));
}